@import '~antd/dist/antd.css';
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*override-ant-css*/
.ant-tabs-bar {
  margin: 0 0 8px 0;
}

/*ueditor*/
.edui-default .edui-button-body {
  height: 20px !important;
}

.edui-default .edui-toolbar {
  height: 26px !important;
}
